.responsive-image {
    max-width: 800px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.download {
    border-bottom: 15px;
}

h3 {
    margin: 20px;
    font-size: 30pt;
}


.skill {
    margin: 20px;
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 100px;
}

#main {
    width: 100%;
    display: block;
    text-align: center;
}
  
#main div {
    -ms-flex: 1;  /* IE 10 */  
    flex: 1;
}

@media screen and (min-width: 930px){
    #main {display: flex;}
}