
#about {
    font-size: 30pt;
    text-align: center;
}

.me {
    font-size: 20pt;
    text-align: center;
}

.avitar {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.responsive-image {
    max-width: 800px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.skill {
    margin: 20px;
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 100px;
}

.accord {
    margin: 0;
    border: 0;
    padding: 0;
}

.line {
    border-top: 2px solid #3b3355ff ; 
    margin: 20, 0
}

#main {
    width: 100%;
    display: block;
    text-align: center;
}
  
#main div {
    -ms-flex: 1;  /* IE 10 */  
    flex: 1;
}

@media screen and (min-width: 930px){
    #main {display: flex;}
}