ul.flex-row {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}

.mx-1 {
    display: block;
    color: var(--primary);
    float: left;
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5pt;
}

.mx-1.hoverable:hover {
    display: block;
    color: var(--primary);
    background-color: var(--tertiary);
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mx-1.navActive {
    display: block;
    color: var(--primary);
    background-color: var(--tertiary);
    font-size: 20px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bri {
    font-weight: 900;
}