.footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: var(--background);
   color: var(--primary);
   text-align: center;
}

 
.btn {
    background-color: var(--background);
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--tertiary); 
    color: var(--primary);
    transition: ease background-color 250ms;
}
  